body{
    background: rgb(252,207,226);
    background: linear-gradient(90deg, rgba(252,207,226,1) 0%, rgba(177,211,252,1) 100%);
}
.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form {
    width: 100%;
    max-width: 380px;
    padding: 25px;
    background: #ffffffd4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.7);
}

.forgotpass {
    display: block;
    margin-top: 25px;
    text-align: center;
}
.btn-primary{
    background-color: #ffffff!important;
    border-color: #000000!important;
    color: black!important;
    border-radius: 20px!important;
}
.btn-primary:hover {
    background: linear-gradient(270deg, rgba(252,207,226,1) 0%, rgba(177,211,252,1) 100%)!important;
}
img {
    clip-path: circle(50%);
    background: #FCCFE2;
}
